PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=AeKoO5c0OSHmQi031VxiRcpj7CRj7hSe44kt8Oi_iqR3pj8cSAVm43PIzdssO2Rgdu4umynN2y8QbiEu
PAYPAL_CLIENT_SECRET=EPCYipfMdmZBNX3iqutWKgjIps3weaa7fGTVzKK6bb4bH75aRBorUGcKxAU8ReyiBJDuceWsjkkQiZly
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AeKoO5c0OSHmQi031VxiRcpj7CRj7hSe44kt8Oi_iqR3pj8cSAVm43PIzdssO2Rgdu4umynN2y8QbiEu
NEXT_PUBLIC_SITE_URL=http://localhost:3000


# QRIS manual: taruh QRIS merchant kamu di public/qris.png

# Email notifications (Resend)
RESEND_API_KEY=your_resend_api_key_here
BRAND_ORDER_EMAIL=nandapauji08@gmail.com
BRAND_FROM_EMAIL=16flames <onboarding@resend.dev>

# Virtual Account / akun pembayaran langsung (isi nomor VA milik kamu)
NEXT_PUBLIC_VA_BCA=
NEXT_PUBLIC_VA_BCA_NAME=
NEXT_PUBLIC_VA_MANDIRI=
NEXT_PUBLIC_VA_MANDIRI_NAME=
NEXT_PUBLIC_VA_BNI=24577423432
NEXT_PUBLIC_VA_BNI_NAME=nnda
NEXT_PUBLIC_VA_BRI=
NEXT_PUBLIC_VA_BRI_NAME=
NEXT_PUBLIC_VA_PERMATA=
NEXT_PUBLIC_VA_PERMATA_NAME=
NEXT_PUBLIC_VA_CIMB=
NEXT_PUBLIC_VA_CIMB_NAME=

# ADMIN LOGIN (WAJIB diubah untuk production)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=16flames@2026
ADMIN_SESSION_SECRET=ganti-dengan-random-secret-yang-panjang
